{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="media-body">
    <h2><a class="article-title" href="#">Test</a></h2>
    <p class="article-content"></p>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      LONZO BALL
    </a>
  </h2>

  <div>
      <ul class='list-group'>
        <li>NAME: LONZO BALL  </li>	
        <li>TEAM: NEW ORLEANS</li>	
        <li>POSITION: GUARD</li>
        <li>GAMES PLAYED: 63</li>	
        <li>MINUTES PLAYED PER GAME: 32.1</li>	
        <li>POINTS PER GAME: 11.9</li>
        <li>REBOUNDS PER GAME: 6.3</li>	
        <li>ASSITS PER GAME: 6.9</li>
        <li>STEALS PER GAME: 1.4</li>
        <li>BLOCKS PER GAME: .6</li>
        <li>TURNOVERS PER GAME: 3.5</li>
      </ul>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      DEVIN BOOKER
    </a>
  </h2>

  <div>
      <ul class='list-group'>
        <li>NAME: DEVIN BOOKER </li>	
        <li>TEAM: PHEONIX SUNS</li>	
        <li>POSITION: GUARD</li>
        <li>GAMES PLAYED: 70</li>	
        <li>MINUTES PLAYED PER GAME: 35.9 </li>	
        <li>POINTS PER GAME: 26.6</li>
        <li>REBOUNDS PER GAME: 4.2</li>	
        <li>ASSITS PER GAME: 6.5</li>
        <li>STEALS PER GAME: 0.7</li>
        <li>BLOCKS PER GAME: .3</li>
        <li>TURNOVERS PER GAME: 3.8</li>
      </ul>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      RECOMMENDED PLAYER: DEVIN BOOKER
    </a>
  </h2>
{% endblock content %}