{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class="media-body">
    <h2><a class="article-title" href="#">Test</a></h2>
    <p class="article-content"></p>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      Compare Players
    </a>

    <div class="media-body">
      <h2><a class="article-title" href="#"></a></h2>
      <!-- Load icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" type="text/css" href="{% static 'home/search.css' %}">

      <h2 style="padding-top:30px;">
        <a class="article-title">
          Player 2
        </a>
      </h2>

        <!-- The form -->   
      <form class="example" action="{% url 'compare-players3' %}">
        <input type="text" placeholder="Player Name" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

{% endblock content %}