{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="media-body">
    <h2><a class="article-title" href="#">Test</a></h2>
    <p class="article-content"></p>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      All Players
    </a>
  </h2>

  <div>
    <ul class="list-group">
<a class="article-title" href="{% url 'players-homepage' %}">Bam Adebayo</a>
<a class="article-title" href="{% url 'players-homepage' %}">LaMarcus Aldridge</a>
<a class="article-title" href="{% url 'steven' %}">Steven Adams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Alexander</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nickeil Alexander-Walker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Grayson Allen</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarrett Allen</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kadeem Allen</a>
<a class="article-title" href="{% url 'players-homepage' %}">Al-Farouq Aminu</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Anderson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Anderson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ryan Anderson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Giannis Antetokounmpo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kostas Antetokounmpo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Thanasis Antetokounmpo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Carmelo Anthony</a>
<a class="article-title" href="{% url 'players-homepage' %}">OG Anunoby</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ryan Arcidiacono</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trevor Ariza</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trevor Ariza</a>
<a class="article-title" href="{% url 'players-homepage' %}">D.J. Augustin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Deandre Ayton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dwayne Bacon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marvin Bagley III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Lonzo Ball</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mo Bamba</a>
<a class="article-title" href="{% url 'players-homepage' %}">J.J. Barea</a>
<a class="article-title" href="{% url 'players-homepage' %}">Harrison Barnes</a>
<a class="article-title" href="{% url 'players-homepage' %}">RJ Barrett</a>
<a class="article-title" href="{% url 'players-homepage' %}">Will Barton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Keita Bates-Diop</a>
<a class="article-title" href="{% url 'players-homepage' %}">Keita Bates-Diop</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nicolas Batum</a>
<a class="article-title" href="{% url 'players-homepage' %}">Aron Baynes</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kent Bazemore</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kent Bazemore</a>
<a class="article-title" href="{% url 'players-homepage' %}">Darius Bazley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bradley Beal</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malik Beasley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malik Beasley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marco Belinelli</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Bell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Bell</a>
<a class="article-title" href="{% url 'players-homepage' %}">DeAndre' Bembry</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dragan Bender</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dragan Bender</a>
<a class="article-title" href="{% url 'players-homepage' %}">Davis Bertans</a>
<a class="article-title" href="{% url 'players-homepage' %}">Patrick Beverley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Khem Birch</a>
<a class="article-title" href="{% url 'players-homepage' %}">Goga Bitadze</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bismack Biyombo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nemanja Bjelica</a>
<a class="article-title" href="{% url 'players-homepage' %}">Eric Bledsoe</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bojan Bogdanovic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bogdan Bogdanovic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bol Bol</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jonah Bolden</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jonah Bolden</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marques Bolden</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Bone</a>
<a class="article-title" href="{% url 'players-homepage' %}">Isaac Bonga</a>
<a class="article-title" href="{% url 'players-homepage' %}">Devin Booker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Boucher</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brian Bowen II</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ky Bowman</a>
<a class="article-title" href="{% url 'players-homepage' %}">Avery Bradley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tony Bradley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarrell Brantley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ignas Brazdeikis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Corey Brewer</a>
<a class="article-title" href="{% url 'players-homepage' %}">Miles Bridges</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mikal Bridges</a>
<a class="article-title" href="{% url 'players-homepage' %}">Oshae Brissett</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ryan Broekhoff</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malcolm Brogdon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dillon Brooks</a>
<a class="article-title" href="{% url 'players-homepage' %}">Charles Brown Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Troy Brown Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bruce Brown</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jaylen Brown</a>
<a class="article-title" href="{% url 'players-homepage' %}">Moses Brown</a>
<a class="article-title" href="{% url 'players-homepage' %}">Sterling Brown</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jalen Brunson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Thomas Bryant</a>
<a class="article-title" href="{% url 'players-homepage' %}">Reggie Bullock</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trey Burke</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trey Burke</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alec Burks</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alec Burks</a>
<a class="article-title" href="{% url 'players-homepage' %}">Deonte Burton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jimmy Butler</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bruno Caboclo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bruno Caboclo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Devontae Cacok</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kentavious Caldwell-Pope</a>
<a class="article-title" href="{% url 'players-homepage' %}">Vlatko Cancar</a>
<a class="article-title" href="{% url 'players-homepage' %}">Clint Capela</a>
<a class="article-title" href="{% url 'players-homepage' %}">DeMarre Carroll</a>
<a class="article-title" href="{% url 'players-homepage' %}">DeMarre Carroll</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wendell Carter Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jevon Carter</a>
<a class="article-title" href="{% url 'players-homepage' %}">Vince Carter</a>
<a class="article-title" href="{% url 'players-homepage' %}">Michael Carter-Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alex Caruso</a>
<a class="article-title" href="{% url 'players-homepage' %}">Willie Cauley-Stein</a>
<a class="article-title" href="{% url 'players-homepage' %}">Willie Cauley-Stein</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyson Chandler</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wilson Chandler</a>
<a class="article-title" href="{% url 'players-homepage' %}">Joe Chealey</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zylan Cheatham</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Chiozza</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Chiozza</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marquese Chriss</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brandon Clarke</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gary Clark</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gary Clark</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Clarkson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Clarkson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nicolas Claxton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Clemons</a>
<a class="article-title" href="{% url 'players-homepage' %}">Antonius Cleveland</a>
<a class="article-title" href="{% url 'players-homepage' %}">Amir Coffey</a>
<a class="article-title" href="{% url 'players-homepage' %}">John Collins</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zach Collins</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mike Conley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Pat Connaughton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Quinn Cook</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Cook</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Cook</a>
<a class="article-title" href="{% url 'players-homepage' %}">Robert Covington</a>
<a class="article-title" href="{% url 'players-homepage' %}">Robert Covington</a>
<a class="article-title" href="{% url 'players-homepage' %}">Allen Crabbe</a>
<a class="article-title" href="{% url 'players-homepage' %}">Allen Crabbe</a>
<a class="article-title" href="{% url 'players-homepage' %}">Torrey Craig</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jamal Crawford</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jae Crowder</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jae Crowder</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarrett Culver</a>
<a class="article-title" href="{% url 'players-homepage' %}">Seth Curry</a>
<a class="article-title" href="{% url 'players-homepage' %}">Stephen Curry</a>
<a class="article-title" href="{% url 'players-homepage' %}">Troy Daniels</a>
<a class="article-title" href="{% url 'players-homepage' %}">Troy Daniels</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anthony Davis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ed Davis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Terence Davis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dewayne Dedmon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dewayne Dedmon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Matthew Dellavedova</a>
<a class="article-title" href="{% url 'players-homepage' %}">DeMar DeRozan</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cheick Diallo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Hamidou Diallo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gorgui Dieng</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gorgui Dieng</a>
<a class="article-title" href="{% url 'players-homepage' %}">Spencer Dinwiddie</a>
<a class="article-title" href="{% url 'players-homepage' %}">Donte DiVincenzo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luka Doncic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luguentz Dort</a>
<a class="article-title" href="{% url 'players-homepage' %}">Damyean Dotson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Sekou Doumbouya</a>
<a class="article-title" href="{% url 'players-homepage' %}">PJ Dozier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Goran Dragic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andre Drummond</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andre Drummond</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jared Dudley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kris Dunn</a>
<a class="article-title" href="{% url 'players-homepage' %}">Carsen Edwards</a>
<a class="article-title" href="{% url 'players-homepage' %}">Henry Ellenson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wayne Ellington</a>
<a class="article-title" href="{% url 'players-homepage' %}">Joel Embiid</a>
<a class="article-title" href="{% url 'players-homepage' %}">James Ennis III</a>
<a class="article-title" href="{% url 'players-homepage' %}">James Ennis III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Drew Eubanks</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jacob Evans</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jacob Evans</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dante Exum</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dante Exum</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tacko Fall</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick Favors</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cristiano Felicio</a>
<a class="article-title" href="{% url 'players-homepage' %}">Terrance Ferguson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bruno Fernando</a>
<a class="article-title" href="{% url 'players-homepage' %}">Yogi Ferrell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dorian Finney-Smith</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bryn Forbes</a>
<a class="article-title" href="{% url 'players-homepage' %}">Evan Fournier</a>
<a class="article-title" href="{% url 'players-homepage' %}">De'Aaron Fox</a>
<a class="article-title" href="{% url 'players-homepage' %}">Melvin Frazier Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Michael Frazier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tim Frazier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Markelle Fultz</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wenyen Gabriel</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wenyen Gabriel</a>
<a class="article-title" href="{% url 'players-homepage' %}">Daniel Gafford</a>
<a class="article-title" href="{% url 'players-homepage' %}">Danilo Gallinari</a>
<a class="article-title" href="{% url 'players-homepage' %}">Langston Galloway</a>
<a class="article-title" href="{% url 'players-homepage' %}">Darius Garland</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marc Gasol</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rudy Gay</a>
<a class="article-title" href="{% url 'players-homepage' %}">Paul George</a>
<a class="article-title" href="{% url 'players-homepage' %}">Taj Gibson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Harry Giles III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shai Gilgeous-Alexander</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rudy Gobert</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brandon Goodwin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Aaron Gordon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Eric Gordon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Devonte' Graham</a>
<a class="article-title" href="{% url 'players-homepage' %}">Treveon Graham</a>
<a class="article-title" href="{% url 'players-homepage' %}">Treveon Graham</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jerami Grant</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jerian Grant</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Gray</a>
<a class="article-title" href="{% url 'players-homepage' %}">Danny Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">Draymond Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">JaMychal Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">Javonte Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeff Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeff Green</a>
<a class="article-title" href="{% url 'players-homepage' %}">Blake Griffin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marko Guduric</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Guy</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rui Hachimura</a>
<a class="article-title" href="{% url 'players-homepage' %}">Devon Hall</a>
<a class="article-title" href="{% url 'players-homepage' %}">Donta Hall</a>
<a class="article-title" href="{% url 'players-homepage' %}">Donta Hall</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dusty Hannahs</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tim Hardaway Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">James Harden</a>
<a class="article-title" href="{% url 'players-homepage' %}">Maurice Harkless</a>
<a class="article-title" href="{% url 'players-homepage' %}">Maurice Harkless</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jared Harper</a>
<a class="article-title" href="{% url 'players-homepage' %}">Montrezl Harrell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gary Harris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Joe Harris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shaquille Harrison</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tobias Harris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Isaiah Hartenstein</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Hart</a>
<a class="article-title" href="{% url 'players-homepage' %}">Udonis Haslem</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jaxson Hayes</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gordon Hayward</a>
<a class="article-title" href="{% url 'players-homepage' %}">John Henson</a>
<a class="article-title" href="{% url 'players-homepage' %}">John Henson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dewan Hernandez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Juancho Hernangomez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Juancho Hernangomez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Willy Hernangomez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Herro</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevin Hervey</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mario Hezonja</a>
<a class="article-title" href="{% url 'players-homepage' %}">Buddy Hield</a>
<a class="article-title" href="{% url 'players-homepage' %}">George Hill</a>
<a class="article-title" href="{% url 'players-homepage' %}">Solomon Hill</a>
<a class="article-title" href="{% url 'players-homepage' %}">Solomon Hill</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jaylen Hoard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Aaron Holiday</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jrue Holiday</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Holiday</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rondae Hollis-Jefferson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Richaun Holmes</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rodney Hood</a>
<a class="article-title" href="{% url 'players-homepage' %}">Al Horford</a>
<a class="article-title" href="{% url 'players-homepage' %}">Talen Horton-Tucker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Danuel House Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dwight Howard</a>
<a class="article-title" href="{% url 'players-homepage' %}">William Howard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevin Huerter</a>
<a class="article-title" href="{% url 'players-homepage' %}">De'Andre Hunter</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chandler Hutchison</a>
<a class="article-title" href="{% url 'players-homepage' %}">Serge Ibaka</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andre Iguodala</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ersan Ilyasova</a>
<a class="article-title" href="{% url 'players-homepage' %}">Joe Ingles</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brandon Ingram</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyrie Irving</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jonathan Isaac</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wes Iwundu</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jaren Jackson Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Frank Jackson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Jackson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Jackson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Reggie Jackson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Reggie Jackson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin James</a>
<a class="article-title" href="{% url 'players-homepage' %}">LeBron James</a>
<a class="article-title" href="{% url 'players-homepage' %}">Amile Jefferson</a>
<a class="article-title" href="{% url 'players-homepage' %}">DaQuan Jeffries</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ty Jerome</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alize Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">BJ Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cameron Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">James Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">James Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Keldon Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Stanley Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Johnson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nikola Jokic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick Jones Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Damian Jones</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyus Jones</a>
<a class="article-title" href="{% url 'players-homepage' %}">DeAndre Jordan</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cory Joseph</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mfiondu Kabengele</a>
<a class="article-title" href="{% url 'players-homepage' %}">Frank Kaminsky</a>
<a class="article-title" href="{% url 'players-homepage' %}">Enes Kanter</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luke Kennard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Michael Kidd-Gilchrist</a>
<a class="article-title" href="{% url 'players-homepage' %}">Michael Kidd-Gilchrist</a>
<a class="article-title" href="{% url 'players-homepage' %}">Stanton Kidd</a>
<a class="article-title" href="{% url 'players-homepage' %}">Louis King</a>
<a class="article-title" href="{% url 'players-homepage' %}">Maxi Kleber</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brandon Knight</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brandon Knight</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevin Knox II</a>
<a class="article-title" href="{% url 'players-homepage' %}">John Konchar</a>
<a class="article-title" href="{% url 'players-homepage' %}">Furkan Korkmaz</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luke Kornet</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Korver</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rodions Kurucs</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Kuzma</a>
<a class="article-title" href="{% url 'players-homepage' %}">Skal Labissiere</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeremy Lamb</a>
<a class="article-title" href="{% url 'players-homepage' %}">Romeo Langford</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zach LaVine</a>
<a class="article-title" href="{% url 'players-homepage' %}">Vic Law</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jake Layman</a>
<a class="article-title" href="{% url 'players-homepage' %}">TJ Leaf</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jalen Lecque</a>
<a class="article-title" href="{% url 'players-homepage' %}">Courtney Lee</a>
<a class="article-title" href="{% url 'players-homepage' %}">Damion Lee</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alex Len</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alex Len</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kawhi Leonard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Meyers Leonard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Caris LeVert</a>
<a class="article-title" href="{% url 'players-homepage' %}">Damian Lillard</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nassir Little</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevon Looney</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brook Lopez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Robin Lopez</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevin Love</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle Lowry</a>
<a class="article-title" href="{% url 'players-homepage' %}">Timothe Luwawu-Cabarrot</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trey Lyles</a>
<a class="article-title" href="{% url 'players-homepage' %}">Daryl Macon</a>
<a class="article-title" href="{% url 'players-homepage' %}">J.P. Macura</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Magette</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ian Mahinmi</a>
<a class="article-title" href="{% url 'players-homepage' %}">Thon Maker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Terance Mann</a>
<a class="article-title" href="{% url 'players-homepage' %}">Boban Marjanovic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Lauri Markkanen</a>
<a class="article-title" href="{% url 'players-homepage' %}">Caleb Martin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cody Martin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeremiah Martin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kelan Martin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Frank Mason</a>
<a class="article-title" href="{% url 'players-homepage' %}">Garrison Mathews</a>
<a class="article-title" href="{% url 'players-homepage' %}">Wesley Matthews</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luc Mbah a Moute</a>
<a class="article-title" href="{% url 'players-homepage' %}">Patrick McCaw</a>
<a class="article-title" href="{% url 'players-homepage' %}">CJ McCollum</a>
<a class="article-title" href="{% url 'players-homepage' %}">T.J. McConnell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jalen McDaniels</a>
<a class="article-title" href="{% url 'players-homepage' %}">Doug McDermott</a>
<a class="article-title" href="{% url 'players-homepage' %}">JaVale McGee</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rodney McGruder</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alfonzo McKinnie</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan McLaughlin</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ben McLemore</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan McRae</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan McRae</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan McRae</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nicolo Melli</a>
<a class="article-title" href="{% url 'players-homepage' %}">De'Anthony Melton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chimezie Metu</a>
<a class="article-title" href="{% url 'players-homepage' %}">Khris Middleton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Eric Mika</a>
<a class="article-title" href="{% url 'players-homepage' %}">CJ Miles</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malcolm Miller</a>
<a class="article-title" href="{% url 'players-homepage' %}">Paul Millsap</a>
<a class="article-title" href="{% url 'players-homepage' %}">Patty Mills</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shake Milton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Donovan Mitchell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Naz Mitrou-Long</a>
<a class="article-title" href="{% url 'players-homepage' %}">Adam Mokoka</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malik Monk</a>
<a class="article-title" href="{% url 'players-homepage' %}">Matt Mooney</a>
<a class="article-title" href="{% url 'players-homepage' %}">E'Twaun Moore</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ja Morant</a>
<a class="article-title" href="{% url 'players-homepage' %}">Juwan Morgan</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marcus Morris Sr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marcus Morris Sr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Markieff Morris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Markieff Morris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Monte Morris</a>
<a class="article-title" href="{% url 'players-homepage' %}">Johnathan Motley</a>
<a class="article-title" href="{% url 'players-homepage' %}">Emmanuel Mudiay</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mychal Mulder</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dejounte Murray</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jamal Murray</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dzanan Musa</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mike Muscala</a>
<a class="article-title" href="{% url 'players-homepage' %}">Svi Mykhailiuk</a>
<a class="article-title" href="{% url 'players-homepage' %}">Abdel Nader</a>
<a class="article-title" href="{% url 'players-homepage' %}">Larry Nance Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shabazz Napier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shabazz Napier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Raul Neto</a>
<a class="article-title" href="{% url 'players-homepage' %}">Malik Newman</a>
<a class="article-title" href="{% url 'players-homepage' %}">Georges Niang</a>
<a class="article-title" href="{% url 'players-homepage' %}">Joakim Noah</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nerlens Noel</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zach Norvell Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zach Norvell Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jaylen Nowell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Frank Ntilikina</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kendrick Nunn</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jusuf Nurkic</a>
<a class="article-title" href="{% url 'players-homepage' %}">David Nwaba</a>
<a class="article-title" href="{% url 'players-homepage' %}">Semi Ojeleye</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jahlil Okafor</a>
<a class="article-title" href="{% url 'players-homepage' %}">Elie Okobo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Okogie</a>
<a class="article-title" href="{% url 'players-homepage' %}">KZ Okpala</a>
<a class="article-title" href="{% url 'players-homepage' %}">Victor Oladipo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kelly Olynyk</a>
<a class="article-title" href="{% url 'players-homepage' %}">Royce O'Neale</a>
<a class="article-title" href="{% url 'players-homepage' %}">Miye Oni</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kyle O'Quinn</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cedi Osman</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kelly Oubre Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tariq Owens</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeremy Pargo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jabari Parker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jabari Parker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chandler Parsons</a>
<a class="article-title" href="{% url 'players-homepage' %}">Eric Paschall</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anzejs Pasecniks</a>
<a class="article-title" href="{% url 'players-homepage' %}">Patrick Patterson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Patton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Paul</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cameron Payne</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gary Payton II</a>
<a class="article-title" href="{% url 'players-homepage' %}">Elfrid Payton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Norvel Pelle</a>
<a class="article-title" href="{% url 'players-homepage' %}">Theo Pinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mason Plumlee</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jakob Poeltl</a>
<a class="article-title" href="{% url 'players-homepage' %}">Vincent Poirier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Shamorie Ponds</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jordan Poole</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kevin Porter Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Michael Porter Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Otto Porter Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Bobby Portis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kristaps Porzingis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dwight Powell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Norman Powell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Taurean Prince</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chasson Randle</a>
<a class="article-title" href="{% url 'players-homepage' %}">Julius Randle</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Reaves</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cam Reddish</a>
<a class="article-title" href="{% url 'players-homepage' %}">JJ Redick</a>
<a class="article-title" href="{% url 'players-homepage' %}">Naz Reid</a>
<a class="article-title" href="{% url 'players-homepage' %}">Josh Richardson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Austin Rivers</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andre Roberson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Glenn Robinson III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Glenn Robinson III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Duncan Robinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jerome Robinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jerome Robinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Robinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mitchell Robinson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Isaiah Roby</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rajon Rondo</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick Rose</a>
<a class="article-title" href="{% url 'players-homepage' %}">Terrence Ross</a>
<a class="article-title" href="{% url 'players-homepage' %}">Terry Rozier</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ricky Rubio</a>
<a class="article-title" href="{% url 'players-homepage' %}">D'Angelo Russell</a>
<a class="article-title" href="{% url 'players-homepage' %}">D'Angelo Russell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Domantas Sabonis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Luka Samanic</a>
<a class="article-title" href="{% url 'players-homepage' %}">JaKarr Sampson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dario Saric</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tomas Satoransky</a>
<a class="article-title" href="{% url 'players-homepage' %}">Admiral Schofield</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dennis Schroder</a>
<a class="article-title" href="{% url 'players-homepage' %}">Mike Scott</a>
<a class="article-title" href="{% url 'players-homepage' %}">Thabo Sefolosha</a>
<a class="article-title" href="{% url 'players-homepage' %}">Collin Sexton</a>
<a class="article-title" href="{% url 'players-homepage' %}">Landry Shamet</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marial Shayok</a>
<a class="article-title" href="{% url 'players-homepage' %}">Iman Shumpert</a>
<a class="article-title" href="{% url 'players-homepage' %}">Pascal Siakam</a>
<a class="article-title" href="{% url 'players-homepage' %}">Chris Silva</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ben Simmons</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anfernee Simons</a>
<a class="article-title" href="{% url 'players-homepage' %}">Alen Smailagic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marcus Smart</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dennis Smith Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ish Smith</a>
<a class="article-title" href="{% url 'players-homepage' %}">JR Smith</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zhaire Smith</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tony Snell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Omari Spellman</a>
<a class="article-title" href="{% url 'players-homepage' %}">Max Strus</a>
<a class="article-title" href="{% url 'players-homepage' %}">Edmond Sumner</a>
<a class="article-title" href="{% url 'players-homepage' %}">Caleb Swanigan</a>
<a class="article-title" href="{% url 'players-homepage' %}">Caleb Swanigan</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jayson Tatum</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeff Teague</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jeff Teague</a>
<a class="article-title" href="{% url 'players-homepage' %}">Garrett Temple</a>
<a class="article-title" href="{% url 'players-homepage' %}">Daniel Theis</a>
<a class="article-title" href="{% url 'players-homepage' %}">Isaiah Thomas</a>
<a class="article-title" href="{% url 'players-homepage' %}">Khyri Thomas</a>
<a class="article-title" href="{% url 'players-homepage' %}">Lance Thomas</a>
<a class="article-title" href="{% url 'players-homepage' %}">Matt Thomas</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tristan Thompson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Sindarius Thornwell</a>
<a class="article-title" href="{% url 'players-homepage' %}">Matisse Thybulle</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anthony Tolliver</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anthony Tolliver</a>
<a class="article-title" href="{% url 'players-homepage' %}">Anthony Tolliver</a>
<a class="article-title" href="{% url 'players-homepage' %}">Juan Toscano-Anderson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Karl-Anthony Towns</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gary Trent Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Allonzo Trier</a>
<a class="article-title" href="{% url 'players-homepage' %}">P.J. Tucker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Rayjon Tucker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Evan Turner</a>
<a class="article-title" href="{% url 'players-homepage' %}">Myles Turner</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarrod Uthoff</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarrod Uthoff</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jonas Valanciunas</a>
<a class="article-title" href="{% url 'players-homepage' %}">Denzel Valentine</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarred Vanderbilt</a>
<a class="article-title" href="{% url 'players-homepage' %}">Jarred Vanderbilt</a>
<a class="article-title" href="{% url 'players-homepage' %}">Fred VanVleet</a>
<a class="article-title" href="{% url 'players-homepage' %}">Gabe Vincent</a>
<a class="article-title" href="{% url 'players-homepage' %}">Noah Vonleh</a>
<a class="article-title" href="{% url 'players-homepage' %}">Noah Vonleh</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nikola Vucevic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dean Wade</a>
<a class="article-title" href="{% url 'players-homepage' %}">Moritz Wagner</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dion Waiters</a>
<a class="article-title" href="{% url 'players-homepage' %}">Dion Waiters</a>
<a class="article-title" href="{% url 'players-homepage' %}">Lonnie Walker IV</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kemba Walker</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyrone Wallace</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick Walton Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick Walton Jr.</a>
<a class="article-title" href="{% url 'players-homepage' %}">Brad Wanamaker</a>
<a class="article-title" href="{% url 'players-homepage' %}">T.J. Warren</a>
<a class="article-title" href="{% url 'players-homepage' %}">P.J. Washington</a>
<a class="article-title" href="{% url 'players-homepage' %}">Yuta Watanabe</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tremont Waters</a>
<a class="article-title" href="{% url 'players-homepage' %}">Paul Watson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Paul Watson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Quinndary Weatherspoon</a>
<a class="article-title" href="{% url 'players-homepage' %}">Russell Westbrook</a>
<a class="article-title" href="{% url 'players-homepage' %}">Coby White</a>
<a class="article-title" href="{% url 'players-homepage' %}">Derrick White</a>
<a class="article-title" href="{% url 'players-homepage' %}">Hassan Whiteside</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andrew Wiggins</a>
<a class="article-title" href="{% url 'players-homepage' %}">Andrew Wiggins</a>
<a class="article-title" href="{% url 'players-homepage' %}">Robert Williams III</a>
<a class="article-title" href="{% url 'players-homepage' %}">Nigel Williams-Goss</a>
<a class="article-title" href="{% url 'players-homepage' %}">Grant Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Johnathan Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Kenrich Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Lou Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marvin Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Marvin Williams</a>
<a class="article-title" href="{% url 'players-homepage' %}">Zion Williamson</a>
<a class="article-title" href="{% url 'players-homepage' %}">D.J. Wilson</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justise Winslow</a>
<a class="article-title" href="{% url 'players-homepage' %}">Christian Wood</a>
<a class="article-title" href="{% url 'players-homepage' %}">Delon Wright</a>
<a class="article-title" href="{% url 'players-homepage' %}">Justin Wright-Foreman</a>
<a class="article-title" href="{% url 'players-homepage' %}">Thaddeus Young</a>
<a class="article-title" href="{% url 'players-homepage' %}">Trae Young</a>
<a class="article-title" href="{% url 'players-homepage' %}">Cody Zeller</a>
<a class="article-title" href="{% url 'players-homepage' %}">Tyler Zeller</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ante Zizic</a>
<a class="article-title" href="{% url 'players-homepage' %}">Ivica Zubac</a>

    </ul>
  </div>
{% endblock content %}