{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="media-body">
    <h2><a class="article-title" href="#">Test</a></h2>
    <p class="article-content"></p>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      Miami Heat
    </a>
  </h2>

  <div>
      <ul class='list-group'>
        <li>NAME: MIAMI HEAT </li>	
        <li>CONFERENCE: EAST</li>	
        <li>GAMES PLAYED: 73</li>	
        <li>POINTS PER GAME: 112</li>
        <li>POINTS ALLOWED PER GAME: 109.1</li>	
        <li>WINS: 44</li>
        <li>LOSSES: 29</li>
      </ul>
  </div>
{% endblock content %}