{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="media-body">
    <h2><a class="article-title" href="#">Test</a></h2>
    <p class="article-content"></p>
  </div>

  <h2 style="padding-top:30px;">
    <a class="article-title" href="#">
      Utah Jazz
    </a>
  </h2>

  <div>
      <ul class='list-group'>
        <li>NAME: Utah Jazz </li>	
        <li>CONFERENCE: West</li>	
        <li>GAMES PLAYED: 72</li>	
        <li>POINTS PER GAME: 111.7</li>
        <li>POINTS ALLOWED PER GAME: 108.3</li>	
        <li>WINS: 44</li>
        <li>LOSSES: 28</li>
      </ul>
      <ul class='list-group'>
        <a class="article-title" href="{% url 'watchlist3' %}">Remove from watchlist</a>
      </ul>
  </div>
{% endblock content %}